apiVersion: autoscaler.laravel.app/v1alpha1
kind: PrometheusAutoscaler
metadata:
  name: laravel-api-web-autoscaler
  namespace: production
spec:
  targetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: laravel-api-web
    namespace: production

  minReplicas: 3
  maxReplicas: 30
  mode: Apply

  prometheus:
    # Adapt to your Prometheus service DNS
    url: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090

  aggregation: max

  metrics:
    - name: http_rps
      promQL: |
        sum(rate(http_requests_total{app="laravel-api",route!~"/healthz"}[2m]))
      scaleUp:
        threshold: 250
        step: 3
      scaleDown:
        threshold: 80
        step: 1

    - name: http_latency_avg
      promQL: |
        rate(http_request_duration_seconds_sum{app="laravel-api"}[2m])
        /
        rate(http_request_duration_seconds_count{app="laravel-api"}[2m])
      scaleUp:
        threshold: 0.35   # 350ms
        step: 2
      scaleDown:
        threshold: 0.15   # 150ms
        step: 1

    - name: http_error_rate_5xx
      promQL: |
        sum(rate(http_requests_total{app="laravel-api",status=~"5.."}[5m]))
        /
        sum(rate(http_requests_total{app="laravel-api"}[5m]))
      scaleUp:
        threshold: 0.05    # >5% errors => add capacity
        step: 1
      scaleDown:
        threshold: 0.01
        step: 0

  behavior:
    stabilizationWindowSeconds: 120
    scaleUpCooldownSeconds: 60
    scaleDownCooldownSeconds: 180
    maxScaleUpStepPercent: 100
    maxScaleDownStepPercent: 50
