apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-exporter
  namespace: laravel-demo
  labels:
    app: redis-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-exporter
  template:
    metadata:
      labels:
        app: redis-exporter
    spec:
      containers:
        - name: redis-exporter
          image: oliver006/redis_exporter:v1.63.0
          imagePullPolicy: IfNotPresent
          env:
            - name: REDIS_ADDR
              value: "redis.laravel-demo.svc.cluster.local:6379"
          ports:
            - name: metrics
              containerPort: 9121
---
apiVersion: v1
kind: Service
metadata:
  name: redis-exporter
  namespace: laravel-demo
  labels:
    app: redis-exporter
spec:
  selector:
    app: redis-exporter
  ports:
    - port: 9121
      targetPort: 9121
      name: metrics
